*{
    margin: 15px;
}
table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 15px;
    padding: 8px 8px 13px 13px;
}
th{
    color:darkred;
    background-color:aliceblue;
}

.arrow-down {
width: 0; 
height: 0; 
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid black;
}

.arrow-down:hover{
    cursor: pointer;
}
.description {
text-align: center;
padding: 10px;
margin-left: 50px;
border: 1px solid black;
}

.description:hover{
    background-color: #e5eecc;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: royalblue;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}





