<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Spring Boot Task</title>
</head>

<body>
<header>
    <h2>Spring Boot Task.</h2>
    <br />
</header>
<h2>Employee Table</h2>
<div class="empDiv"></div>

<script type="text/javascript"  src="js/employee.js"></script>
</body>

</html>